@import '../tinder-charts';

select-list {

	div {
		border: 1px solid $base-darkened;
	}

	ul {
		padding: 0;
		list-style-type: none;

		li {
			padding: 5px;
			margin: 0 10px;
		}
		li.active {
			a {
				color: gray;
			}
		}
	}
}

select-list.horizontal {
	div {
		overflow-x: scroll;

		ul {
			margin: 0px;
			padding: 0px;
    		display: flex;
		}
		li {
			display: inline-block;
			background-color: white;
			text-align: center;
    		flex: 1;
			flex-basis: 0;

			& + li {
				border-left: 1px solid $base-darkened;
			}
		}
	}

}

select-list.vertical {
	float: left;
}