nav.navbar-inverse {
  background-color: #325C74;
  border-color: #234050; }
  nav.navbar-inverse .navbar-header a {
    color: #6CA6CD; }

div[role='main'] {
  margin-top: 50px; }

#apps-container {
  padding: 10px 0; }
  #apps-container .panel {
    width: 80%;
    margin: 0 auto; }
